.Counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .ControlCount {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ControlCount {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ButtonCount {
    width: 3em;
    font-size: 15px;
    color: white;
    background-color: #9bcb20;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0.35rem;
  }
  .ButtonCount:hover {
    color:#9bcb20;
    background-color: #363940;
  }
  
  .NumberCount {
    margin: 0 1rem;
    font-size: 1.5rem;
  }
  .AgregarCart {
    background-color: #9bcb20;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .AgregarCart:hover {
    background-color:#363940;
    color:#9bcb20;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }