.ItemList {
    color: #9bcb20;
}
.ItemList {
    background-color:#1F2023;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.483);
  }