.BackgroundNav {
    background-color: aliceblue;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.867);
}
.NavOgro {

    color: rgb(39, 53, 115) !important;
}
.NavLink {
    color: #24292F !important;
    margin-left: 100px;
    margin-top: 10px;
}
.LogoImg {
    width: 50px;
    height: 50px;
}
span {
    color: #9bcb20;
    margin-right: 250px;
}
