.Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
  }

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 315px;
    margin: 20px 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h3, .card h4 {
    margin: 0;
  }
  
  .card button {
    background-color: #9bcb20;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #9bcb20;
  }
  .DetalleButton {
    background-color: #9bcb20;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .DetalleButton:hover {
    background-color: #202221;
    color: #9bcb20;
  }
  